<!DOCTYPE html>
<html>
<head>
  <title>Admin Toko</title>
  <style>
    body { font-family: Arial; margin: 40px; }
    a { margin-right: 10px; }
    table { border-collapse: collapse; width: 60%; }
    td, th { border: 1px solid #ddd; padding: 8px; }
  </style>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/add-purchase">Input Pembelian</a>
    <a href="/purchases">Data Pembelian</a>
  </nav>
  <hr>
  <%- body %>
</body>
</html>
